<link rel="stylesheet" href="/stylesheets/recipe.css" type="text/css">

<body>
{{> navbar}}

<div class="container">
    <form action="/recipes/addRecipe" type="POST">
        <div class="row mb-3">
            <input type="recipeName" id="recipeName" name="recipeName" placeholder="Dodaj tytuł">
        </div>

        <div class="row mb-3">
            <div class="col-7">
                <h5>Dodaj składniki: </h5>
                <div style="margin-top: 0" class="multi_select_box">
                    <select class="ingredients-select w-100" id="ingredients-select" data-live-search="true"
                            title="Nie wybrano żadnych składników"
                            data-selected-text-format="count > 3" data-count-selected-text="Wybrano {0}"
                            noneResultsText='Nie ma takiego składnika, spróbuj wpisać inaczej'
                            multiple>
                        {{#each ingredients}}
                            <option value="{{this.id_ingredient}}">{{this.ing_name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-5">
                <h6 style="margin-top: 1rem">Dodaj zdjęcie</h6>
            </div>
        </div>


        <div class="row mb-3">
            <h5>Opis wykonania</h5>
            <div class="row form-row" id="comments">
                <textarea id="description" name="description"> </textarea>
            </div>
        </div>

        <div class="row mb-3">
            <button class="button" id="add-recipe-btn" type="submit">Zapisz</button>
        </div>
    </form>

</div>
