<link rel="stylesheet" href="/stylesheets/logRes.css" type="text/css">

<body>
{{>navbar}}

<div class="center">
    <div class="container">
            <div id="board">
                <h2>To jest strona tylko dla zalogowanych użytkowników. </h2>
                <a href="/users/log"><h6>Zaloguj się!</h6></a>
                <h7>Nie masz jeszcze konta? </h7>
                <a href="/users/reg"><h6>Zarejestruj się!</h6></a>
            </div>
    </div>
</div>

</body>