<link rel="stylesheet" href="/stylesheets/logRes.css" type="text/css">

<body>
{{>navbar}}

<div class="center">
    <div class="container">
        <form action="/users/auth" method="POST">
            <div id="board">
                <div class="window">
                    <h4> Login</h4>
                    <input type="login" id="login" name="name">
                    <h4> Hasło</h4>
                    <input type="password" id="haslo" name="password">
                    <button class="button" type="submit">
                        <a> Zaloguj</a></button>
                </div>
                <h7> Nie masz jeszcze konta?</h7>
                <a style="color: black;" href="/users/reg"><h6>Zarejestruj się!</h6></a>
            </div>
        </form>
        {{#if message }}
            <h7 class="alert alert-danger" style="display: flex; justify-content: center;">{{message}}</h7>
        {{/if}}
    </div>
</div>

</body>