<body>

{{> navbar}}

<div class="container">
    <section class="top-recipes">
        <div>
            <h2 class="background__color__top">Co nowego?</h2>
        </div>
        <div class="container">
            <div class="row">
                {{#each lastRecipes}}
                    <div class="col-sm-4">
                        <a href=/recipes/${recipe.id}>
                        <img src="/{{this.picture_path}}"
                             class="img-fluid">
                        <figcaption>{{this.name}}</figcaption>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>


</div>
<section id="ingredient">
    <div style="margin-top: 4rem;" class="container">
        <h2>Wyszukaj przepisy po składnikach</h2>
        <div class="multi_select_box">
            <select class="ingredients-select w-100" id="ingredients-select" data-live-search="true"
                    title="Nie wybrano żadnych składników"
                    data-selected-text-format="count > 3" data-count-selected-text="Wybrano {0}" multiple>
                {{#each ingredients}}
                    <option value="{{this.id_ingredient}}">{{this.ing_name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" id="show-recipes-by-ingredients-btn">Szukaj przepisów</button>
    </div>

</section>

<div class="alert alert-danger" id="recipes-error-alert" hidden>

</div>
<div>
    <ul style="margin: .5rem 6rem;" id="rendered_recipes-list"></ul>
</div>


</div>


<script src="/javascripts/main.js"></script>
</body>

