<link rel="stylesheet" href="/stylesheets/recipe.css" type="text/css">

<body>
{{> navbar}}

<div class="center">
    <div class="container" id="dish">
        <div class="left">
            <h2 class="background__color">Rosół</h2>
            <div class="recipeDescription">
                <h5>Składniki: </h5>
                <li>kurczak</li>
                <li>wołowina</li>
                <li>woda</li>
                <li>włoszczyzna</li>
            </div>
        </div>

        <div class="right">
            <img src="https://cdn.aniagotuje.com/pictures/articles/2020/01/1968771-v-1500x1500.jpg"
                 class="img-thumbnail">
            <div id="rateRecipe">
                <h6> Oceń przepis!</h6>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>

    </div>

    <div class="container">
        <h5>Wykonanie</h5>
        <div id="recipeDescription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum
        </div>
    </div>
    <div class="container left" >
        <h5>Komentarze</h5>
        <input>
        <button >Dodaj komentarz</button>
    </div>


</div>

<div class="center">
</div>

<script src="/javascripts/main.js"></script>
</body>

