<link rel="stylesheet" href="/stylesheets/logRes.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/buttons.css" type="text/css">

<body>
{{>navbar}}

<div class="container">
    <form action="/users/addUser" method="POST">
        <div id="board">
            <img src="../chicken.png" class="pic-chicken">
            <img src="../cookie.png" class="pic-cookie">
            <img src="../pasta.png" class="pic-pasta">
            <img src="../pie.png" class="pic-pie">
            <img src="../salad.jpg" class="pic-salad">
            <div class="window buttons">
                <h4 class="log-in"> Rejestracja</h4>
                <input type="email" id="email" name="email" required placeholder="E-mail">
                <input type="login" id="login" name="name" placeholder="Login">
                <input type="password" id="haslo" name="password" placeholder="Hasło">
                <button class="button" type="submit" style="width: 120px;">
                    <a> Zarejestruj</a></button>
                <h7> Masz już konto?</h7>
                <a href="/users/log" class="login-background register-background"><h6>Zaloguj się!</h6></a>
            </div>
        </div>
    </form>
    {{#if message }}
        <h7 class="alert alert-danger" style="display: flex; justify-content: center;">{{message}}</h7>
    {{/if}}
</div>

</body>