<body>
{{> navbar}}
<div class="center">
    <div class="container">
        <div>
            <h2 class="background__color__top" >Top przepisy tygodnia</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="https://mediaconvert.kukbuk.pl/ksTNHdwFDa7biY17BBiWpov4JEeRSOx4uNtbqEs6RrM/fill/1418/1682/fp:0.5:0.5/1/aHR0cHM6Ly9tZWRp/YS5rdWtidWsucGwv/bWVkaWEvaW1hZ2Vz/LzIwMTkvMDMtMTgv/ZmV0dHVjaW5lMV90/aW5pZmllZF90aW5p/ZmllZC5qcGc.jpg"
                     class="img-fluid">
                <figcaption>Makaron</figcaption>
            </div>
            <div class="col-6 col-md-4">
                <img src="https://mediaconvert.kukbuk.pl/ksTNHdwFDa7biY17BBiWpov4JEeRSOx4uNtbqEs6RrM/fill/1418/1682/fp:0.5:0.5/1/aHR0cHM6Ly9tZWRp/YS5rdWtidWsucGwv/bWVkaWEvaW1hZ2Vz/LzIwMTkvMDMtMTgv/ZmV0dHVjaW5lMV90/aW5pZmllZF90aW5p/ZmllZC5qcGc.jpg"
                     class="img-fluid">
                <figcaption>Makaron</figcaption>
            </div>
            <div class="col-6 col-md-4">
                <img src="https://mediaconvert.kukbuk.pl/ksTNHdwFDa7biY17BBiWpov4JEeRSOx4uNtbqEs6RrM/fill/1418/1682/fp:0.5:0.5/1/aHR0cHM6Ly9tZWRp/YS5rdWtidWsucGwv/bWVkaWEvaW1hZ2Vz/LzIwMTkvMDMtMTgv/ZmV0dHVjaW5lMV90/aW5pZmllZF90aW5p/ZmllZC5qcGc.jpg"
                     class="img-fluid">
                <figcaption>Makaron</figcaption>
            </div>
        </div>

    </div>
</div>
<script src="/javascripts/main.js"></script>
</body>
