<body>
{{> navbar}}
    <div class="container">
        <div class="background-color-top">
            <h2>Top przepisy</h2>
        </div>
        <div class="container">
            <div class="row">
                {{#each top}}
                    <div class="col-sm-4">
                        <a href=/recipes/${recipe.id}>
                            <img src="/{{this.picture_path}}"
                                 class="img-box">
                        </a>
                        <a href=/recipes/${recipe.id}>
                            <figcaption>{{this.name}} {{this.average}}</figcaption>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
<script src="/javascripts/main.js"></script>
</body>
