#dish{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
}

.right{
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dish h5{
    margin: 2rem 0;
}
#dish h6{
    margin-top: 2rem;
    display: flex;
}
i{
    font-size: x-large;
    margin: .3rem;
}

#recipeDescription{
    margin-right: 16rem;
}

input{
    margin-top: 1rem;
    height: 80px;
    width: 80%;
    border-color: #6FCF97;
}
.left button{
    margin: 2rem 0;
    background-color: #6FCF97;
    border-style: none;
    width: 20%;
}