body {
  font-family: 'Rhodium Libre', serif !important;
}

/*@media (min-width: 1050px) {*/

/*}*/
/*@media (max-width: 1050px) {*/
/*  body{*/
/*    width: 70%;*/
/*  }*/
/*}*/
/*@media (max-width: 750px) {*/
/*  body{*/
/*    width: 60%;*/
/*  }*/
/*}*/
/*@media (max-width: 300px) {*/
/*  body{*/
/*    width: 30%;*/
/*  }*/
/*}*/

@media (orientation: portrait) {

}

.center{
  padding: 3rem;
  /*background-color: beige;*/
  /*height: 100%;*/
  z-index: -1;
}

.container{
  /*text-align: center;*/
  padding-bottom: 6rem;
}

h2{
  display: block;
  justify-content: left;
  margin-bottom: 2rem !important;
}
.background__color__top:before{
  content: "";
  position: absolute;
  top: 17%;
  left: 12%;
  width: 26%;
  height: 7%;
  display: block;
  transform: matrix(1,-.03, .03,1,0,0);
  background-color: #6FCF97;
  z-index: -1;
}
.background__color:before{
  content: "";
  position: absolute;
  top: 17%;
  left: 12%;
  width: 19%;
  height: 7%;
  display: block;
  transform: matrix(1,-.03, .03,1,0,0);
  background-color: #6FCF97;
  z-index: -1;
}

.background__color {
  display: inline-block;
}

img{
  width: 300px;
  height: 300px;
}

figcaption{
  font-size: 18px;
  margin-top: 2rem;
  text-align: center;
}

button{
  margin: 2rem;
  background-color: #6FCF97;
  border-style: none;
}