#dish{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.haha{
    display: flex;
    justify-content: left;
}

#dish h5{
    margin: 2rem 0;
}
#dish h6{
    margin-top: 2rem;
    display: flex;
}
i{
    font-size: x-large;
    margin: .3rem;
}

#execution{
    margin-right: 16rem;
}

input{
    margin-top: 1rem;
    /*height: 80px;*/
    width: 80%;
    background-color: #6FCF97;
}
button{
    margin-top: 2rem;
    background-color: #6FCF97;
}