#header{
    font-size: 18px;
    background-color: #6FCF97;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.epapu{
    font-family: 'Ribeye Marrow', cursive;
    font-size: 36px;
    /*----------nie działa-------*/
    /*display: flex;*/
    /*justify-content: flex-start;*/
}


.menu a{
    color: beige;
    text-decoration: none;
}

.menu a:hover{
    color: beige;
    /*text-decoration: #0b2e13;*/
}

i.far.fa-times-circle {
    margin-left: 1.5rem;
}